@keyframes move {
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50%{
        transform: translateX(0.16rem);
        -webkit-transform: translateX(0.16rem);
    }
    100%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes move {
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50%{
        transform: translateX(0.16rem);
        -webkit-transform: translateX(0.16rem);
    }
    100%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}
.spanWarp{
    animation: move 0.8s steps(1, start) 1s infinite;
    -webkit-animation: move 0.8s steps(1, start) 1s infinite;
}